@model DBSD_CW2_7510_8775_7912.Models.ItemBind

<div>
    <h4>ItemBind</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemBindId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
